*{
    box-sizing: border-box;
    color: #f0f0f0;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #485f70
}

h1{
    background:#243445;
    padding: 20px;
    font-size: 300%;
    text-align: center;
    text-shadow: 2px 2px 1px black;
}



.gameboard{
    position: relative;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 50%;
}




.roundScore{
    position: relative;
    border: 3px solid #e0e0e0;
    width: 25%;
    height: auto;
    margin: 0 auto;
    font-size: 60px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 3px black;
}

.badges{
    position: absolute;
    font-size: 25%;
    padding: 5px;
    background-color: #ed5547;
    
}

#user-label{
    top: 50%;
    left: -15%;
    transform: translateY(-50%);
    padding-left: 11px;
    padding-right: 11px;
    
}

#comp-label{
    right: -15%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24%;
}

.textResult{
    font-size: 230%;
    font-weight: 100;
    text-shadow: 2px 2px 10px black;
    width: 150%;
    transform: translateX(-17%);
}

.player{
    position: absolute;
    display: inline-block;
    margin-top: 100px;
    text-align: center;
    width: 100%;
    bottom: 0;
    padding-bottom: 35px;
    background-color: #2a3c50;
    
}

.playerChoice{
    width: 100%;
}


.playerChoice img{
    border-radius: 100%;
    margin: 30px;
    width: 250px;
    height: auto;
    box-shadow: 2px 2px 10px black;
    transition: border 0.2s;
}



button{
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid transparent;
    font-size: 25px;
    padding:0px;
    text-shadow: 2px 2px 1px black;
    font-weight: 100;
    transition: border-bottom 0.2s;
    

}

.iRefresh {
    font-size:30px;
    margin-right: 5px;
    transition: margin-right 0.2s;
}

button:hover{
    font-weight: 400; 
    border-bottom: 1px solid white;
}

button:hover i {
    margin-right: 10px;
}


.playerChoice img:hover{
    border: 5px solid lightblue;
    box-shadow: 7px 7px 20px black;
}


@media only screen and (max-width: 1350px ){
    #user-label{
        left: -20%;
    }

    #comp-label{
        right: -20%;
    }

}


@media only screen and (max-width: 1250px ){
    #user-label{
        left: -25%;
    }

    #comp-label{
        right: -25%;
    }
    
    .roundScore{
        font-size: 50px;
    }

}

@media only screen and (max-width: 950px ){
    #user-label{
        left: -33%;
    }

    #comp-label{
        right: -30%;
    }
    
    .roundScore{
        width: 27%;
    }

    .playerChoice img{
        border-radius: 100%;
        margin: 30px;
        width: 200px;
    
    } 

}


@media only screen and (max-width: 850px ){
    .roundScore{
        width: 30%;
    }

    .gameboard{
        margin-top: 20px;
        width: 55%;
    }

    .player{
        padding-top: 30px;
    }

    .textResult{
        font-size: 200%;
    }

    .playerChoice img{
        border-radius: 100%;
        margin: 30px;
        width: 170px;
    
    } 

}

@media only screen and (max-width: 850px ){
    .roundScore{
        width: 30%;
    }

    .gameboard{
        margin-top: 20px;
        width: 60%;
    }

    .player{
        padding-top: 40px;
    }

    .textResult{
        font-size: 200%;
    }

    .playerChoice img{
        margin: 15px;
        width: 150px;
    } 

}